<aside data-mcs-theme="minimal-dark" class="main-sidebar mCustomScrollbar">
        <ul id="usertest" class="list-unstyled navigation mb-0" style="padding-top:30px;">
          <li class="sidebar-category"></li>   
          <li id="dashboard_click" class="panel">   
            <a id="accdboard" role="button" data-toggle="collapse" data-parent=".navigation" href="#collapse1" aria-expanded="false"
              aria-controls="collapse1" class="bubble active collapsed">
              <i class="ion-ios-home-outline bg-purple"></i>
              <span class="sidebar-title accdboard">Dashboard</span>
              <span class="badge bg-danger">9</span>
            </a>             
                         
            <ul id="collapse1" class="list-unstyled collapse">
              <!-- <li>
                <a id="usermgnt">User Management</a>
              </li> -->   
              <li>                        
                <a routerLink="/userList" routerLinkActive="active">User Management</a>
              </li>
              <li>                    
                <a routerLink="/newUser" routerLinkActive="active">New User</a>  
              </li>
               <li>                                                                 
                <a routerLink="/geoList" routerLinkActive="active">Geography Management</a>
                             
              </li>                   
              <li>           
                <a routerLink="/couList" routerLinkActive="active">Country Management</a>
              </li>
              <li>
                <a id="statemgnt">State Management</a>
              </li>
              <li>
                <a id="dommgnt">Domain Management</a>
              </li>
              <li>
                <a id="regulatormgnt">Regulator Management</a>
              </li>
              <li>
                <a id="regmgnt">Regulation Management</a>
              </li>
              <li>
                <a id="doctmgnt">Document Management</a>
              </li>
              <li>
                <a id="subdocMgnt">Sub Document Management</a>
              </li>
              <li>
                <a id="docmgnt">Document Upload Management</a>
              </li>
              <li>
                <a id="newsMgnt">News Management</a>
              </li>
              <li>      
                <a id="alertMgnt">Alert Management</a>
              </li>
            </ul>
          </li>
        </ul>
        <li id="user_click" class="panel">
          <a role="button" id="profileMgnt" data-toggle="collapse" data-parent=".navigation" href="#collapse12" aria-expanded="false"
            aria-controls="collapse12" class="bubble collapsed">
            <i class="ion-ios-person-outline bg-success"></i>
            <span class="sidebar-title">Profile</span>
            <span class="badge bg-danger"></span>
          </a>
          <ul id="collapse12" class="list-unstyled collapse"></ul>
        </li>
      </aside>