<ng-container *ngIf="!show">
<div class="col-md-7">
    <div class="widget">
      <div class="widget-heading">   
        <h3 class="widget-title">Geography Set Up</h3>
      </div>            
      <div class="widget-body">   
        <!-- <form class="form-horizontal"> -->
        <form class="form-horizontal" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="geographyName" [(ngModel)]=" geoCreate.name" #geoname/>
              <div id="geo_name_error" class="geo_name_error" style="font-size: 12px; color: #FF0000; "></div>
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>         
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="geoDescription" [(ngModel)]=" geoCreate.description" #geodescription/>
              <div id="geo_description_error" class="geo_description_error" style="font-size: 12px; color: #FF0000; "></div>
            </div>
          </div>
      
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <!-- <button id="save" class="btn btn-outline btn-success">Save</button> -->
              <input type="submit" class="btn btn-outline btn-success" value="Save" >
              <button id="cancel" class="btn btn-outline btn-black">Cancel</button>
            </div>
          </div>
  
          <!-- </form> -->
        </form>
      </div>    
    </div>
  </div>
</ng-container>  
  <ng-container *ngIf="show">         
      <app-geography></app-geography>
  </ng-container>