<!-- <li *ngFor="let food of foods">{{food.user_name}}</li> -->

<!-- <pre>{{myData | json}}</pre> -->

<!-- <div *ngFor="let d of myData">
  {{d}}                        
</div>                
-->
<!-- <li *ngFor="let item of myData">
  {{item.id}}            
</li>      -->
<!-- <a routerLink="newuser"><button class="btn btn-success pull-right" > Add User</button></a> -->

<!-- <h1>Zurik</h1>                                                
  <nav>
    <a routerLink="/crisis-center" routerLinkActive="active">List Users</a>
    <a routerLink="/heroes" routerLinkActive="active">Add User</a>  
  </nav>  -->
<!-- <app-list></app-list>  
  <app-newuser></app-newuser>                         -->
<!-- <router-outlet></router-outlet> -->
<!-- 
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            
        </div>

    </div>
     <div class="col-sm-4" id="ttx">      
            
        </div>
        <div class="col-sm-8" id="whole">
            <app-main-content></app-main-content>
            <router-outlet></router-outlet>
        </div>

</div>    -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-aside></app-aside>
        </div>
        <div class="col-sm-8" id="whole">
            <app-main-content></app-main-content>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- 

<div class="container">
    <div class="row">   
        <div class="col-sm-12">
            
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">   
            
        </div>
        <div class="col-sm-8" id="whole">       
               <app-main-content></app-main-content>
               
        </div>
    </div>          
</div>


     <app-header></app-header>
        <app-aside></app-aside>

        <router-outlet></router-outlet>
             -->