<ng-container *ngIf="!correct">
    <div class="widget-heading">
        <h3 class="widget-title">State Management</h3>   
    </div>
    <div class="form-group">     
        <div class="col-sm-offset-3 col-sm-9">
            <button id="createstate" class="btn btn-success btn-rounded btn-block" style="width: 150px;" (click)="toggle()">create</button>

        </div>
    </div>
    <table border="0" id="order-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
        <thead>
            <tr>
                <th style="width:15%" class="text-center">Name</th>
                <th style="width:15%" class="text-center">Description</th>
                <th style="width:15%" class="text-center">State Code</th>
                <th style="width:15%" class="text-center">Country</th>
                <th style="width:30%" class="text-center">Operation</th>
            </tr>
        </thead>
        <tbody id="state-list-table">         
            <tr *ngFor="let state of stateResponse; let i = index">        
                <!-- ngfor goes here  -->
                <td class="text-center">
                    {{state.name}}
                </td>
                <td class="text-center">
                    {{state.description}}
                </td>
                <td class="text-center">
                    {{state.state_code}}
                </td>
                <td class="text-center">
                    {{state.cname}}
                </td>
                <td class="text-center">
                    <div id="hide">
                        <span id="tocreatestate" class="published">
                            <a class="tooltips">         
                                <span>
                                    <button type="button" (click)="loadStateToEdit(state.id)">Edit</button>
                                </span>
                                <img src="/images/edit.png" />
                            </a>
                        </span>
                        <span class="delete-state" data-toggle="modal" data-target="">
                            <a class="tooltips">
                                <span>
                                    <td>
                                        <button type="button" (click)="deleteState(state.id)">Delete</button>
                                    </td>
                                </span>
                                <img src="/images/delete.png" />
                            </a>
                        </span>
                    </div>
                    <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade bs-example-modal-sm" id="">
                        <div role="document" class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header bg-black no-border" style="background-color: #cc0000;">
                                    <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                    <h4 id="mySmallModalLabel" class="modal-title">State Delete</h4>
                                </div>
                                <div class="modal-body">
                                    <p>Do you want to delete?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-outline btn-primary-red">Close</button>
                                    <button type="button" id="deleteState" class="btn btn-outline btn-primary-red">Confirm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="findStatus"></div>
    <div class="user_load">
        <div id="loadMore"></div>
    </div>
</ng-container>
<ng-container *ngIf="correct">
    <div class="col-md-7">
        <div class="widget">
            <div class="widget-heading">
                <h3 class="widget-title">State Set Up</h3>
            </div>
            <div class="widget-body">
                <form class="form-horizontal" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="stateName" [(ngModel)]=" stateInterface.name" #statename />
                            <div id="state_name_error" class="state_name_error" style="font-size: 12px; color: #FF0000; "></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" formControlName="stateDescription" [(ngModel)]=" stateInterface.description" #statedescription
                            />
                            <div id="state_description_error" class="state_description_error" style="font-size: 12px; color: #FF0000; "></div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-sm-3 control-label">State Code</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" maxlength="3" formControlName="stateCode" [(ngModel)]=" stateInterface.countrycode" #statecode
                            />
                            <div id="state_code_error" class="state_code_error" style="font-size: 12px; color: #FF0000; "></div>
                        </div>
                    </div>                                               
           
                    <div class="form-group">                        
                        <label for="selectGeography" class="col-sm-3 control-label">Geography</label>
                        <div class="col-sm-9">                                                                  
                            <select *ngIf="GeographyResponse" class="form-control" formControlName="stateGeography" [(ngModel)]="optionSelectedGeography" (change)='onOptionsSelectedGeo($event)'
                                #selectGeography>                                                                     
                                <option value="0">Select Geography</option>   
                                <option *ngFor='let option of GeographyResponse' [value]="option.id">{{option.name}}</option>
                            </select>
                            <div id="geo_error" class="reg_error" style="font-size: 12px; color: #FF0000; "></div>
                        </div>
                    </div>              
                    <div class="form-group">
                        <label for="selectCountry" class="col-sm-3 control-label">Country</label>
                        <div class="col-sm-9">
                            <select class="form-control" formControlName="stateCountry" [(ngModel)]="optionSelectedCountry" (change)='onOptionsSelectedCountry($event)'
                                #selectCountry>
                                <option *ngIf="!optionSelectedGeography" value="0">Select Country</option>                                                                           
                                <option *ngFor='let cout of countryVal' [value]="cout.gid">{{cout.name}}</option>
                            </select>
                            <div id="country_error" class="reg_error" style="font-size: 12px; color: #FF0000; "></div>
                        </div>
                    </div>                            
   
                    <div class="form-group">       
                        <div class="col-sm-offset-3 col-sm-9">  
                            <button *ngIf="!stateIdToUpdate" class="btn btn-outline btn-success" (click)="saveEdit()">CREATE</button>
                            <button *ngIf="stateIdToUpdate" class="btn btn-outline btn-success" (click)="saveEdit()">UPDATE</button>
                            <button id="cancel" class="btn btn-outline btn-black">Cancel</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>   
</ng-container>