<ng-container *ngIf="!correct">
  <div class="widget-heading">      
    <h3 class="widget-title">Document Management</h3>
                       
  </div>
  <div class="form-group">                     
    <div class="col-sm-offset-3 col-sm-9">
      <button id="createdoctype" class="btn btn-success btn-rounded btn-block" style="width: 150px;" (click)="toggle()">create</button>

    </div>
  </div>
  <table border="0" id="order-table" style="width: 100%" class="table table-hover dt-responsive nowrap">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Description</th>
        <th class="text-center">Operation</th>
      </tr>
    </thead>           
    <tbody id="doc-list-table">   
      <tr *ngFor="let doc of documentResponse; let i = index">
        <!-- ngfor goes here -->
        <td class="text-left">
          {{doc.name}}
        </td>
        <td class="text-center">
          {{doc.description}}
        </td>
        <td class="text-center">
          <div>
            <span id="toeditdoctype" class="published">
              <a class="tooltips">
                <span>
                  <button type="button" (click)="loadArticleToEdit(doc.id)">Edit</button>
                </span>
                <img src="/images/edit.png" />
              </a>
            </span>
            <span class="delete-doc" data-toggle="modal" data-target="">
              <a class="tooltips">
                <span>
                  <button type="button" (click)="deleteArticle(doc.id)">Delete</button>
                </span>
                <img src="/images/delete.png" />
              </a>
            </span>
          </div>
          <div tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" class="modal fade bs-example-modal-sm" id="">
            <div role="document" class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header bg-black no-border" style="background-color: #cc0000;">
                  <button type="button" data-dismiss="modal" aria-label="Close" class="close">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 id="mySmallModalLabel" class="modal-title">Document Delete</h4>
                </div>
                <div class="modal-body">
                  <p>Do you want to delete?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" data-dismiss="modal" class="btn btn-outline btn-primary-red">Close</button>
                  <button type="button" data-dismiss="modal" id="delDocumentType" class="btn btn-outline btn-primary-red">Confirm</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="findStatus"></div>
  <div class="doc_load">
    <div id="loadMore"></div>
  </div>
</ng-container>
<ng-container *ngIf="correct">
  <div class="col-md-7">
    <div class="widget">
      <div class="widget-heading">           
        <h3 class="widget-title">Document Set Up</h3>
        <h3 class="widget-title" *ngIf="documentIdToUpdate">Edit Document</h3>      
      </div>
      <div class="widget-body">
        <form class="form-horizontal" [formGroup]="formdata" (ngSubmit)="onClickSubmit(formdata.value)">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="documentName" [(ngModel)]="docInter.name" #doctypename/>
              <div id="doctype_name_error" class="doctype_name_error" style="font-size: 12px; color: #FF0000; "></div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" formControlName="documentDescription" [(ngModel)]="docInter.description" #doctypedescription/>
              <div id="doctype_description_error" class="doctype_description_error" style="font-size: 12px; color: #FF0000; "></div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <button *ngIf="!documentIdToUpdate" class="btn btn-outline btn-success" (click)="saveEdit()">CREATE</button>
              <button *ngIf="documentIdToUpdate" class="btn btn-outline btn-success" (click)="saveEdit()">UPDATE</button>
              <button id="cancel" class="btn btn-outline btn-black">Cancel</button>
            </div>
          </div>
        
        </form>
      </div>
    </div>
  </div>
</ng-container>